NODE_ENV=development
DEPLOYMENT_ENVIRONMENT=development

# TURN for production
NEXT_PUBLIC_METERED_API_KEY=

# Socket.IO backend
NEXT_PUBLIC_SYNC_URL=http://localhost:3001

# Video proxy URL
NEXT_PUBLIC_VIDEO_PROXY_URL=http://localhost:8787

# OpenSubtitles API
OPENSUBTITLES_API_KEY=
